- semantic_form_for @stuff do |f|
  	- f.inputs do
    	= f.input :name
    	= f.input :temperature, :as => :select,                   |
      		:label => "Degree", :include_blank => false,            |
      		:collection => [["Hot", 1], ["Medium", 2], ["Cold", 3]] |
  	= f.buttons