%h1 Questions#show
%p Find me in app/views/questions/show.html.haml
= form_for @question, url: question_path(@question.id), html: {:onsubmit => "return confirm('Are you sure you want to delete the question?');"}, method: :delete do |f|
	= submit_tag('Delete')
