%h1 List of Flagged Questions
-if @flags.size == 0
	%em = No Flagged Questions Found
-else
	

	%table
		%r
			%th Title: 
			%th Author:
			%th Report:
			%th Posted:
		- @flags.each do |f|
			%tr
				%td= link_to f.title, f
				%td= User.find(f.user_id).first_name
				%td= Question.find(f.id).flags
				%td= f.created_at.strftime("%m-%d-%Y")

